@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    html {
        font-family: "Poppins", system-ui, sans-serif;
    }
}

@layer components {
    .nav-link {
        @apply flex items-center font-title font-medium py-2;
    }
}

@layer utilities {
    .medium-bp {
        @apply tablet:col-start-4 tablet:col-span-11 tablet:row-start-2 tablet:row-span-6;
    }
    .small-bp {
        @apply cp:col-start-3 cp:col-span-8 cp:px-0;
    }
}

.content-box.three {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.progress-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background Circle */
/* .progress-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(167, 167, 168, 0.5), rgba(26, 25, 26, 0.5)); 
    mask-image: radial-gradient(circle, transparent 55%, black 100%);
    -webkit-mask-image: radial-gradient(circle, transparent 55%, black 56%);
    z-index: 99;
} */


/* Progress Circle */
.progress-circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background: conic-gradient(#4F46E5 0deg, #E5E7EB 0deg); */
    background: linear-gradient(to bottom, rgba(214, 214, 215, 0.5), rgba(103, 101, 103, 0.7)); 
    mask-image: radial-gradient(circle, transparent 55%, black 56%);
    /* -webkit-mask-image: radial-gradient(circle, transparent 55%, black 56%); */
    transition: background 1s ease-in-out;
    z-index: 99;

}

/* Score Text */
.progress-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.score {
    position: relative;
    top: -5px; /* Moves score slightly up */
    font-weight: 700;
    font-size: 1.4rem;
}

.total {
    position: relative;
    bottom: -9px; /* Moves total slightly down */
    opacity: 0.8;
    font-weight: 400;
    font-size: .9rem;
}

.divider {
    margin: 0 1px; /* Adds spacing between score and total */
}


