



@media screen and (min-width: 1700px) {    
    .sidebar {
        transform: translateX(0);
        transition: transform .1s ease-in-out;
    } 
    .sidebar.close {
        transform: translateX(-900px);
    }
    #hero {
        grid-column: 4 / 17;
        padding-right: 4rem;
    }
    #hero.expand {
        grid-column: 1 / 17;
        padding: 0 4rem;
    }
    .content-box.three {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .teacher-hero {
        grid-column: 3 / 17;
    }
    .teacher-hero.expand {
        grid-column: 1 / 17;
        padding-left: 4rem;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1281px) {   
    
    .content-box.three {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .teacher-hero {
        grid-column: 2 / 17;
        padding-left: 4rem;
    }
    .teacher-hero.expand {
        grid-column: 1 / 17;
        padding-left: 4rem;
    }
    .teacher-choices {
        grid-column: 1 / 17;
        padding-left: 0rem;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar {
        transform: translateX(-300px);
        background: #fefeff;
        z-index: 1;
        width: 250px;
        box-shadow: 0 2px 3px #000;
        transition: transform .3s ease-in-out;
    }
    .sidebar.close {
        transform: translateX(0);
    }

    
}

@media screen and (max-width: 376px) {  /* Fixed missing px */
    .sidebar {
        display: none; /* Hide sidebar on small screens */
    }
    
    .burger-menu {
        display: block; /* Show burger button */
        cursor: pointer;
    }
}


/* Search CSS */
.search-btn.search {
    background-color: rgb(254 254 255 / 1);
}