/* .overflow-scrolls::-webkit-scrollbar {
    width: 10px;
}
.overflow-scrolls::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}
.overflow-scrolls::-webkit-scrollbar-thumb {
    background-color: #b7bfc3;
    border-radius: 10px;
} */




@media screen and (min-width: 1700px) {    
    .sidebar {
        transform: translateX(0);
        transition: transform .1s ease-in-out;
    } 
    .sidebar.close {
        transform: translateX(-900px);
    }
    #hero {
        grid-column: 4 / 17;
        padding-right: 4rem;
    }
    #hero.expand {
        grid-column: 1 / 17;
        padding: 0 4rem;
    }
    .content-box.three {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    /* Teacher Hero */
    .teacher-hero {
        grid-column: 3 / 17;
    }
    .teacher-hero.expand {
        grid-column: 1 / 17;
        padding-left: 4rem;
    }
}

@media screen and (max-width: 1700px) and (min-width: 1281px) {   
    /* .sidebar {
        transform: translateX(0);
        transition: transform 1s ease-in-out;
    }  */
    /* .sidebar.close {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        transition: width .5s ease-in-out;

    } */
    /* .sidebar-user {
        transform: translateX(-900px);
        transition: transform 1s ease-in-out;
        background: #fefeff;
    }  */
    /* .sidebar-user.close-sidebar {
        background: #fefeff;
        transform: translateX(0);
        transition: transform .3s ease-in-out;
    } */
    /* .hero { */
        /* grid-column: 4 / 17; */
        /* transition: grid-column-start 1s ease-in-out;
        grid-column-start: 4;
        grid-column-end: 17;

    } */
    /* .expand { */
        /* grid-column: 1 / 17; */
        /* transition: grid-column-start 1s ease-in-out; */
        /* grid-column-start: 1; */
        /* transition: grid-column-start 2s ease-in-out; */
        /* grid-column-end: 17; */
        /* padding-left: 2rem;

    } */
    
    
    .content-box.three {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    /* Teacher Hero */
    .teacher-hero {
        grid-column: 2 / 17;
        padding-left: 4rem;
    }
    .teacher-hero.expand {
        grid-column: 1 / 17;
        padding-left: 4rem;
    }
    .teacher-choices {
        grid-column: 1 / 17;
        padding-left: 0rem;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar {
        transform: translateX(-300px);
        background: #fefeff;
        z-index: 1;
        width: 250px;
        box-shadow: 0 2px 3px #000;
        transition: transform .3s ease-in-out;
    }
    .sidebar.close {
        transform: translateX(0);
    }

    
}



/* Search CSS */
.search-btn.search {
    background-color: rgb(254 254 255 / 1);
}
/* .class-item {
    display: block;
    opacity: 1;
    transition: opacity 0.5s;
}
.class-item.hide {
    opacity: 1;
} */