.hero {
    transition: width .3s ease;
    width: 83%;
}

.w-search {
    width: 0%;
    transition: width .3s ease;
}

.slanted-right {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.back {
    backdrop-filter: blur(20px);
}

.class-nav {
    height: 0%;
    transition: height .3s ease;
}
.folder-nav {
    height: 0%;
    transition: height .3s ease;
}
.placeholder::placeholder {
    color: #C0C0C0;
    opacity: 1;
}

.placeholder::-moz-placeholder {
    color: #C0C0C0;
    opacity: 1;
}

.placeholder:-ms-input-placeholder {
    color: #C0C0C0;
}

.placeholder::-ms-input-placeholder {
    color: #C0C0C0;
}
.custom-calendar-container {
    /* width: 100%; */
    height: auto;
}
.custom-calendar-container .fc {
    height: 100%; 
}
.custom-calendar-container .fc-col-header {
    width: 100% !important;
}
.custom-calendar-container .fc-scrollgrid-sync-table, .fc-daygrid-body-unbalanced {
    width: 100% !important;
}
.custom-calendar-container .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: .5em;
}
.custom-calendar-container .fc-toolbar h2 {
    padding-top: 2px;
    font-size: 1.3em;
}
.custom-calendar-container .fc-daygrid-day-top {
    /* width: auto; */
    font-size: 0.6em; 
}
.custom-calendar-container .fc-col-header-cell-cushion {
    font-size: 0.6em;
}
.custom-calendar-container .fc-col-header-cell {
    /* width: auto; */
    text-align: center;
    padding-bottom: 5px;
    background: #f3f4f6;
}
.custom-calendar-container .fc-button-group {
    display: flex;
    gap: 10px;
    font-size: .5rem;
}
.custom-calendar-container .fc-button {
    background-color: #333333;
    border: 1px solid #333333;
}
.custom-calendar-container .fc-daygrid-day-top {
    display: grid;
    place-items: center;
}
.custom-calendar-container .fc-daygrid-day-events {
    display: none; 
}
.folder-vertical {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.folder-tab {
    clip-path: polygon(0% 0%, 0% 100%, 80% 100%, 100% 70%, 100% 0%);
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
}
.file-corner-fold {
    width: 0;
    height: 0;
    border-top: 50px solid #333333;
    border-left: 50px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 8px;
}
.truncated {
    display: inline-block;
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -.4rem;
}

.welcome-animation {
    animation: welcome .5s ease;
}



/* ANIMATION */
@keyframes welcome {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}